@import url(../../assets/summernote/bootstrap.min.css);
@import url(../../assets/summernote/summernote.min.css);
@font-face {
  font-family: summernote;
  src: url(../../assets/summernote/summernote.woff2);
}
:host {
  display: block;
}

.note-editor .note-statusbar {
  height: auto !important;
  cursor: default !important;
}

.note-editor .note-statusbar .note-resizebar {
  display: none !important;
}





