:host {
  display: block;
}

.note-editor .note-statusbar {
  height: auto !important;
  cursor: default !important;
}

.note-editor .note-statusbar .note-resizebar {
  display: none !important;
}





